.header {
  /* width: 100%; */
  height: 5rem;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
}

.logo {
  font-size: 2rem;
  color: black;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #20314d;
  padding: 8px 21px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: Mulish, sans-serif;
  display: flex;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #1f5dc0;
  border-bottom: #1f5dc0 solid 2px;
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}

.arrow {
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: block;
  transition: transform 0.35s ease;
}

.btn {
  font-size: 14px;
  letter-spacing: -0.35px;
  box-shadow: 0 1px 1px rgb(16 27 56 / 30%);
  border-radius: 6px;
  background-color: #ff344a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 28px;
  background: linear-gradient(0deg, #d8002f, #ff344a);
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  background: linear-gradient(180deg, #d8002f, #ff344a);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  /* background-color: #283b8b; */
  background-color: #ff344a;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
  /* position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%); */
  display: none;
}

.hamburger:hover {
  /* background-color: #2642af; */
  background-color: #ff344a;
}

@media screen and (max-width: 768px) {
  .header {
    height: 5rem;
    display: flex;
    /* padding: 20px; */
    padding: 11px 25px;
    justify-content: space-between;
    align-items: center;
    background-color: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }

  .nav ul {
    display: none;
  }
  .btn {
    display: none;
  }

  .nav-expanded li {
    text-align: center;
    margin: 0;
    padding: 11px 25px;
    font-size: 15px;
    border-bottom: 1px solid rgba(24, 84, 193, 0.1);
  }

  .nav-expanded li a {
    color: black;

    width: 100%;

    text-decoration: none;
  }
  .nav-expanded li:hover {
    background-color: #eee;
  }

  .nav-expanded {
    margin: 0;
    padding: 0;
  }
  .nav-expanded ul {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0;
    padding: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    height: 100vh;
    background-color: white;
    border-top: 1px solid black;
    list-style: none;
  }
}
